<!DOCTYPE html>
<html>
  <head>
    <title>GithubClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "https://assets-cdn.github.com/assets/frameworks-c64b206fb6104fd10a7b4f7460f970885149c62649a7414df084683d7a0f7bf3.css", integrity="sha256-xksgb7YQT9EKe090YPlwiFFJxiZJp0FN8IRoPXoPe/M=", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "https://assets-cdn.github.com/assets/github-de2c179df8aa1e18b73cde40af9856d4238b40e33c49a57f8924af619e670688.css", integrity="sha256-3iwXnfiqHhi3PN5Ar5hW1COLQOM8SaV/iSSvYZ5nBog=", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
